@model CourseManagement.Models.Account

@{
    ViewData["Title"] = "Thay đổi mật khẩu tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<!-- ======= #main ======= -->
<main id="main" class="main">
    <!-- Page Title -->
    <div class="pagetitle">
        <h1>@ViewData["Title"]</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"> <a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ Admin</a> </li>
                <li class="breadcrumb-item"> <a asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index">Quản lý tài khoản</a> </li>
                <li class="breadcrumb-item active">@ViewData["Title"]</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->
    <!-- Section -->
    <section class="section">
        <div class="row">
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">


                        <!-- Card Title -->
                        <div class="card-title">
                        </div>
                        <!-- End Card Title -->
                        <!-- Form -->
                        <form class="row g-3" asp-action="ChangePassword">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group col-md-12">
                                <input asp-for="Username" type="text" class="form-control" placeholder="Tài khoản" readonly />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-12">
                                <input asp-for="Password" type="password" class="form-control" placeholder="Mật khẩu mới" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-12">
                                <input asp-for="Fullname" type="text" class="form-control" placeholder="Họ và tên" readonly />
                                <span asp-validation-for="Fullname" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-12">
                                <input asp-for="Phone" type="number" class="form-control" placeholder="Số điện thoại" readonly />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <select class="form-select" asp-for="IdRole" asp-items="ViewBag.IdRole" required readonly>
                                    <option value="0" readonly selected>Quyền truy cập</option>
                                </select>
                            </div>

                            <div class="form-group col-12">
                                <div class="form-check form-switch">
                                    <input asp-for="Active" class="form-check-input" type="checkbox" id="gridCheck" readonly />
                                    <span asp-validation-for="Active" class="text-danger"></span>
                                    <label class="form-check-label" for="gridCheck">
                                        Kích hoạt
                                    </label>
                                </div>
                            </div>

                            <div class="btn-group">
                                <input type="hidden" asp-for="IdAccount" />
                                <button class="btn btn-outline-info">
                                    <i class="bi bi-gear"></i> Đổi mật khẩu
                                </button>
                                <a type="button" class="btn btn-outline-danger" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index">
                                    <i class="bi bi-x-circle"></i> Hủy
                                </a>
                            </div>

                        </form>
                        <!-- End Form -->


                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Section -->
</main>
<!-- End #main -->