@{
    ViewData["Title"] = "Trang chủ Admin";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<main id="main" class="main">

    <section class="section profile">
       Trang chủ Admin
    </section>

</main><!-- End #main -->