@*<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Admin Courses</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        Customized for the course management page by <a href="https://fb.com/ngngvng">Ngô Nguyễn Vương</a>
    </div>
</footer>*@