@model CourseManagement.Models.Class

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Class</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdClass" />
            <div class="form-group">
                <label asp-for="IdLecturer" class="control-label"></label>
                <select asp-for="IdLecturer" class="form-control" asp-items="ViewBag.IdLecturer"></select>
                <span asp-validation-for="IdLecturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdStudent" class="control-label"></label>
                <select asp-for="IdStudent" class="form-control" asp-items="ViewBag.IdStudent"></select>
                <span asp-validation-for="IdStudent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCalendar" class="control-label"></label>
                <select asp-for="IdCalendar" class="form-control" asp-items="ViewBag.IdCalendar"></select>
                <span asp-validation-for="IdCalendar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

