<!-- Begin Footer Area -->
<div class="footer-area">
    <div class="breadcrumb-area section-space-top-100">
    <div class="footer-top section-space-y-axis-100 text-black" data-bg-color="#e5ddcc">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="widget-item">
                        <div class="footer-logo pb-4">
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/Main/assets/images/logo/dark.png" alt="Logo">
                            </a>
                        </div>
                        <p class="mb-2">CourseManagement is optimized for learning, testing, and training.</p>
                        <p class="mb-2">Examples might be simplified to improve reading and basic understanding.</p>
                        <p class="mb-2">Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom py-3" data-bg-color="#bac34e">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright">
                        <span class="copyright-text text-white">
                            &copy; 2022 - CourseManagement - <a asp-controller="Home" asp-action="About">About us</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Area End Here -->

<!-- Begin Scroll To Top -->
<a class="scroll-to-top" href="">
    <i class="fa fa-chevron-up"></i>
</a>
<!-- Scroll To Top End Here -->