<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CourseManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- CSS
    ============================================ -->
    <!-- Vendor CSS (Contain Bootstrap, Icon Fonts) -->
    <link rel="stylesheet" href="~/Main/assets/css/vendor/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Main/assets/css/vendor/Pe-icon-7-stroke.css" />

    <!-- Plugin CSS (Global Plugins Files) -->
    <link rel="stylesheet" href="~/Main/assets/css/plugins/animate.min.css">
    <link rel="stylesheet" href="~/Main/assets/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Main/assets/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/Main/assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="~/Main/assets/css/plugins/magnific-popup.min.css" />

    <!-- Style CSS -->
    <link rel="stylesheet" href="~/Main/assets/css/style.css">

</head>

<body>
    <!-- ======= Header ======= -->
    @await Html.PartialAsync("_HeaderPartialView.cshtml")
    <!-- End Header -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- ======= Footer ======= -->
    @await Html.PartialAsync("_FooterPartialView.cshtml")
    <!-- End Footer -->


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @*<script src="~/Main/assets/js/vendor/bootstrap.bundle.min.js"></script>*@
    <script src="~/Main/assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="~/Main/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/Main/assets/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="~/Main/assets/js/vendor/jquery.waypoints.js"></script>

    <!--Plugins JS-->
    <script src="~/Main/assets/js/plugins/wow.min.js"></script>
    <script src="~/Main/assets/js/plugins/jquery-ui.min.js"></script>
    <script src="~/Main/assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/Main/assets/js/plugins/jquery.nice-select.js"></script>
    <script src="~/Main/assets/js/plugins/parallax.min.js"></script>
    <script src="~/Main/assets/js/plugins/jquery.magnific-popup.min.js"></script>

    <!--Main JS (Common Activation Codes)-->
    <script src="~/Main/assets/js/main.js"></script>

    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>