@model CourseManagement.Models.Learn

@{
    ViewData["Title"] = "Thêm mới học viên";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- ======= #main ======= -->
<main id="main" class="main">
    <!-- Page Title -->
    <div class="pagetitle">
        <h1>@ViewData["Title"]</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"> <a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ Admin</a> </li>
                <li class="breadcrumb-item"> <a asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">Quản lý danh mục</a> </li>
                <li class="breadcrumb-item active">@ViewData["Title"]</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->
    <!-- Section -->
    <section class="section">
        <div class="row">
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">


                        <!-- Card Title -->
                        <div class="card-title">
                        </div>
                        <!-- End Card Title -->

                        <!-- Form -->
                        <form class="row g-3" asp-action="Create">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group col-md-12">
                                <label for="formIdStudent">Học viên</label>
                                <select class="form-select" asp-for="IdStudent" asp-items="ViewBag.IdStudent" id="formIdStudent" required>
                                    <option value="0" disabled selected>Chọn học viên</option>
                                </select>
                            </div>

                            <div class="form-group col-md-12">
                                <label for="formIdCalendar">Lịch học</label>
                                <select class="form-select" asp-for="IdCalendar" asp-items="ViewBag.IdCalendar" id="formIdCalendar" required>
                                </select>
                            </div>

                            <div class="btn-group">
                                <button class="btn btn-outline-primary">
                                    <i class="bi bi-person-plus"></i> Tạo mới
                                </button>
                                <a type="button" class="btn btn-outline-danger" href="/Admin/AdminLearns/Index?IdCalendar=@ViewBag.CurrentIdCalendar&Page=1">
                                    <i class="bi bi-x-circle"></i> Hủy
                                </a>
                            </div>

                        </form>
                        <!-- End Form -->


                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Section -->
</main>
<!-- End #main -->
